doctype html
html
	include header
	link(rel="stylesheet",href="/public/css/styles/reset.css")
	block links
	block scripts
		script(type="text/javascript",src="sea-modules/seajs/seajs/2.2.1/sea-debug.js")
	body
		block content