//- navbar.jade
extends layout
block links
	link(rel="stylesheet",href="/public/css/styles/index.css")
block content
	div(class="navbar")
		div.nav
			div(class="logo")
				span Movies
			ul(class="nav_content")
				li
					a(href="#") Index
				li
					a(href="#") Category
				li
					a(href="#") Years
				li
					a(href="#") Interest
		div(class="search")
			input(type="text")
			button(class="botton")





