
body
	font-size: 12px
button
	font-size: 1em
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0)
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
	background-repeat: repeat-x
	border-color: #3e8f3e
	border: 1px solid #ccc
	border-radius: 5px
	margin: 6px 6px
	display: inline-block
	text-align: center
	white-space: nowrap
	vertical-align: middle
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	-webkit-appearance: button
	text-transform: none
	cursor: pointer
	&:focus, &:hover
		outline: 0
		outline-offset: -2px
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
		cursor: poinetr
.navbar
	height: 50px
	width: 100%
	position: fixed
	font-size: 1.5em
	font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", "tohoma,sans-serif"
	border-bottom: 1px solid rgb(221,221,221)
	opacity: .9
	a
		text-decoration: none
		&:focus, &:hover
			text-decoration: underline
	.nav
		height: 50px
		width: 100%
		float: left
		.logo
			line-height: 50px
			float: left
			width: 100px
			span
				padding: 0 10px
		.menu
			display: none
		.nav_content
			padding:  0 10
			line-height: 50px
			float: left
			overflow: hidden
			*zoom: 1
			li
				float: left
				padding: 0 10px
		ul.nav_utils
			float: right
			margin-right: 10px
			height: 50px
			li
				float: left
				height: 50px
				input
					display: none
					height: 34px
					margin: 7px 7px
					border: 1px solid #ccc
					border-radius: 5px
					padding: 0 30px
					width: 150px
					&:focus
						border-color: #66afe9
						outline: 0
						outline-offset: -2px
						box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
					&:after
						clear: both
				button
					width: 80px
					height: 36px
					color: #fff
					background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%)
					background-image: -o-linear-gradient(top,#5cb85c 0,#419641 100%)
					background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#419641))
					background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%)
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0)
					filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
					background-repeat: repeat-x
					border-color: #3e8f3e
					border: 1px solid #ccc
					border-radius: 5px
					margin: 6px 6px
.search
	float: right
	height: 50px
	line-height: 50px
	margin: 0 10px
	margin-left: -100px
	span
		cursor: pointer
.search-toggle
	position: relative
	left: -184px
.cancle-toggle
	position: relative
	left: 210px
.input-toggle
	display: inline-block
	font-size: 0.8em
#cancle
	float: left
	height: 50px
	line-height: 50px
	display: none
	span
		cursor: pointer




@media screen and (max-width: 767px)
	.navbar
		.nav
			.toggle_fluid_botton
				width: 100%
				height: 50px
				float: none
				list-style: none
				.nav_content
					display: none
				li
					float: none
					padding: 0
					input
						display: none
				.search
					display: none
				.signin
					button
						display: none
				.menu
					display: block
					float: right
					height: 36px
					width: 50px
					margin: 7px 10px
					background-color: #FFF
				.clearFloat
					float: none
				.toggleDispaly
					padding: 0 10px
					display: block
					position: relative
					left: 0
					width: 100%
					border-bottom: 1px solid #ccc
					li
						position: relative
						float: none
						display: block
					.searchli
						float: left
						input
							float: left
						div
							display: block
							float: left
						.search
							margin-left: 0
					.signin
						float: left
						button
							display: block
			ul.nav_utils
				display: none
	.search-toggle
		left: -210px
	.cancle-toggle
		left: -60px


@media screen and (max-width: 991px)

// @media screen and (max-width: 1199px)
// 	.navbar
// 		height: 50px
// 		width: 100%
// 		position: fixed
// 		font-size: 20px
// 		font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", "tohoma,sans-serif"
// 		border-bottom: 1px solid rgb(221,221,221)
// 		opacity: .9
// 		a
// 			text-decoration: none
// 			&:focus, &:hover
// 				text-decoration: underline
// 		.nav
// 			height: 50px
// 			float: left
// 			line-height: 50px
// 			.logo
// 				float: left
// 				width: 100px
// 				span
// 					padding: 0 10px
// 			.nav_content
// 				padding:  0 10
// 				float: left
// 				overflow: hidden
// 				*zoom: 1
// 				li
// 					float: left
// 					padding: 0 10px
// 		.search
// 			float: right
// 			margin-right: 10px
// 			height: 50px
// 			input
// 				height: 34px
// 				margin: 7px 7px
// 				border: 1px solid #ccc
// 				border-radius: 5px
// 				padding: 0 6px
// 				&:focus
// 					border-color: #66afe9
// 					outline: 0
// 					outline-offset: -2px
// 					box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
// 			input[type="text"]
// 				width: 150px
// 			button
// 				width: 34px
// 				height: 34px
// 				display: inline-block
// 				text-align: center
// 				white-space: nowrap
// 				vertical-align: middle
// 				-webkit-user-select: none
// 				-moz-user-select: none
// 				-ms-user-select: none
// 				user-select: none
// 				-webkit-appearance: button
// 				text-transform: none
// 				// clip: rect(0, 0, 0, 0)
// 				// pointer-events: none
// 				cursor: pointer
// 				&:focus, &:hover
// 					cursor: poinetr














